.darkmode .app-accordion .accordion-button::after {
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
}

.darkmode .app-accordion .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
}

.darkmode  .accordion-button:not(.collapsed) {
    border-bottom: 2px solid var(--app-text-gray-800);;
    box-shadow: none;
}