.btn-toggle-password {
  position: absolute !important;
  top: 0px !important;
  right: 1px !important;
  width: 40px !important;
  padding: 5px 15px !important;
  margin: 2px 0 !important;
  border: none !important;
  z-index: 5 !important;
}
.btn-toggle-password i.fa-eye {
  position: relative;
  right: 4px;
}
.btn-toggle-password i.fa-eye-slash {
  position: relative;
  right: 5px;
}