.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-color: var(--app-font-color);
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--app-font-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--app-font-color);
  vertical-align: top;
  border-color: #dee2e6;
}

.table>:not(:first-child) {
  border-top: 2px solid  currentColor; /* var(--app-main-border-color);*/
}

.darkmode .table {
  --bs-table-bg: #212529;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: var(--app-font-color);
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  color: var(--app-font-color);
  border-color: #373b3e;
}

@media (max-width: 650px){
  .table>:not(:first-child) {
    border-top: none;
  }
  .table tr:not(:first-child) {
    border-top: 2px solid currentColor;
  }

  th{
    display: none;
  }
  td{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
  }

  td.empty{
    display: block;
  }
  /*
  td:first-child{
    padding-top: 1.5rem;
  }
  td:last-child{
    padding-bottom: 1.5rem;
  }
  */
  td:not(.empty)::before{
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}